[Desktop Entry]
Name=Virtualbox Manager
GenericName=Virtualbox Manager
Comment=Basic operations on Vms
Categories=Utility;
Exec=com.github.damienlniata.eos-virtualbox-manager
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=eos-virtualbox-manager
X-GNOME-UsesNotifications=true
Keywords=virtualbox;vbox;virtual;
